<!doctype html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link href="/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body class="text-center">
    <!-- Header -->
    <header class="p-3 bg-dark text-white">
        <div class="container" id="header">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a class="navbar-brand" href="/"><img src="/img/logo.png" alt="" width="60"></a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-lg-0">
                    <li><a href="/" class="nav-link px-2" id="userandrandom">Home</a></li>
                    <li><a href="#" class="nav-link px-2" id="userandrandom" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">Search for a user</a></li>
                    <li><a href="/song/random" class="nav-link px-2" id="userandrandom">Random song</a></li>
                </ul>
                <form id='lyricsForm' method='GET' autocomplete="off" action="/song" class="col-lg-3 me-4">
                    <div class="input-group">
                        <input type="text" name="song" id="myInput" list='autocmpl'
                            class="form-control border border-1 border-secondary rounded-start"
                            placeholder="Type the name of a song">
                        <button class="btn rounded-end" id="searchbtn">Cerca</button>
                    </div>
                </form>
                <div id="AOL" class="text-end">
                    <button type="button" class="btn" id="registerbtn"
                        onclick="location.href='/register'">Sign-up</button>
                </div>
            </div>
        </div>
    </header>
    <!-- Modal search -->
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search for a user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <br>
                    <form id='userForm' method='GET' action="/account/other">
                        <div class="input-group">
                            <input type="text" name="username" class="form-control border-2 rounded-start"
                                style="border-color: #1ed760;" placeholder="Type the username of a user" id="userInput">
                            <button class="btn" id="searchbtn">Cerca</button>
                        </div>
                    </form>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!-- Body -->
    <div class="d-flex h-100 p-3 mx-auto flex-column">
        <div class="row justify-content-center mx-3">
            <div class="col-lg-5 col-md-7 col-sm-10 bg-light rounded">
                <h1 class="mt-3">Log In</h1>
                <!-- Message alerts -->
                <% if (typeof message !== "undefined" && typeof type !== "undefined") { %>
                <p class='alert <%= type %>'><%= message %></p>
                <% } %>
                <form method="POST" action="/login">
                    <div class="form-group mb-2">
                        <label for="username" class="text-dark mb-1">Email address</label>
                        <input name="username" type="email" class="form-control" id="username" placeholder="Enter username"
                            required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="password" class="text-dark mb-1">Password</label>
                        <input name="password" type="password" class="form-control" id="password" placeholder="Password"
                            required>
                    </div>
                    <button type="submit" class="btn mt-2" id="registerbtn">Login</button>
                </form>
                <nav class="nav nav-masthead justify-content-center mt-3">
                    <a class="nav-link">Do you need an account?</a>
                    <a class="nav-link active mb-4" href="/register">Sign Up</a>
                </nav>
            </div>
        </div>
    </div>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/js/header.js" charset="utf-8"></script>
</body>

</html>